#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Visual Studio Code
Comment=Code Editing. Redefined.
Exec=/sgoinfre/students/jadelgad/code/code --no-sandbox %F
Icon=/sgoinfre/students/jadelgad/code/resources/app/resources/linux/code.png
Type=Application
Terminal=false
Categories=Development;IDE;
StartupWMClass=Code
